.App {
  text-align: center;
  font-family: sans-serif;
  text-align: center;
}

.hv-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  min-height: 60vh;
}

.registerMessage {
  margin-top: 10vh;
}

.loginText {
  color: #007bff;
  font-weight: bold;
  cursor: pointer;
}

.successMessage {
  color: green;
  font-weight: bold;
}

.alertMessage {
  min-width: 200px;
  justify-content: space-between;
}
